.logo-container{
    margin-top: 4rem;
    max-width: 400px;
    align-self: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    fill: var(--colour2)
}

.logo:hover{
    fill: var(--colour3)
}

.title{
    /* font-family: 'Source Code Pro', monospace; */
    font-family: var(--font);
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: var(--colour2);
    font-weight: 700;
    font-size: 2rem;
    /* font-style: italic; */
}

.title:hover{
    text-decoration: none !important;
}

.home-links{
    color: var(--colour2);
    font-family: var(--font);
    font-weight: 700;
    font-size: 1.5rem;
    /* text-decoration: underline; */
}

.home-links:hover{
    color: var(--colour3);
    text-decoration:underline;
}

.fill-dark{
    background-color: var(--dark);
    /* padding: 3px; */
    border-radius: 4px;
}

.fill-light{
    background-color: var(--colour3);
    border-radius: 10px;
}

.home-body{
    color: var(--dark);
    font-family: var(--font);
    font-size: 1rem;

}

.subtitle{
    font-family: var(--font);
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #F23827;
}



span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }

@keyframes caret {
    50% {
      border-color: transparent;
    }
  }