.project-img{
    width: 50%;
}

.project-title{
    font-family: var(--font);
    font-weight: 600;
    font-size: 1.2rem;
}

.project-body{
    font-family: var(--font);
    font-size: 1rem;
}

.project-link{
    font-family: var(--font);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--colour2);
}

a:hover{
    color: var(--colour3)
}