.icon-container{
    margin-top: 1rem;
}
.icon-footer a{
    margin:1rem;
    color:var(--colour2) !important;
}

.icon-footer :hover{
    color: var(--colour3) !important;
}

.footer-text{
    color:var(--colour2) !important;
}