.hide {
    opacity: 0;
    max-height: 0;
    transition: max-height 0.2s linear, opacity 0.2s;
    overflow:hidden;
}

.reveal:hover .hide{
    max-height:50em;
    opacity:1;
}

.reveal:hover{
    cursor: pointer;
    max-width: 50em;
}

#hidden{
    max-height: 0;
    max-width:0;
    cursor: default;
    color: var(--colour1);
}

#twitter:hover{
    color: var(--colour2);
}

#twitter{
    color: var(--colour1)
}

#icon{
    color: var(--dark)
}

#no-twitter{
    display: none;
}

.reveal:hover #hidden{
    max-height: 50em;
    max-width:50em;
}

.reveal:hover #icon{
    max-height: 0;
    max-width:0;
}

.reveal{
    max-width: 40px;
    transition: max-width 0.2s linear;
    margin-left: auto;
    margin-right: auto;
}

.hide:hover{
    cursor: default;
}

.person-subtitle{
    font-family: var(--font);
    font-weight: 600;
    color: var(--colour1);
    font-size: 1rem;
}