.btn {
    margin: 2rem;
    font-size: 2rem;
    font-family: var(--font);
    background-color: #f2382786;
    border: 0px
}

.card-body{
    font-family: var(--font);
}

.card-link{
    font-size: 1rem;
    background-color: #f23827;
}

.card-img-top{
    width:50%
}