body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --dark: #0c0c0c;
  --light: #fafafa;
  --colour1: #0b3126;
  --colour2: #fafafa;
  --colour3: rgba(55, 146, 119);
  --font: 'Noto Sans', sans-serif;
}

#root {
  background-color: var(--dark);
}

html{
  background-color: var(--dark);
}