body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --dark: #181716;
  --light: #F2F2F2;
  --colour1: #27735D;
  --colour2: #91D9D2;
  --colour3: #D7D986;
}

code {
  font-family: futura-pt,
    monospace;
}

#root {
  background-color: var(--dark);
}

html{
  background-color: var(--dark);
}