// Color variables
$secondary: #f5a418;
$outline-grey: #ababab;
$bg: #fafafa;
$text-black: #111;

// Global styles
body, .container {
  font-family: 'Segoe UI', 'Arial', 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: $bg;
  color: $text-black;
}

p {
  font-size: 1.3em;
  line-height: 1.5;
  
}

h1 {
  font-size: 2.2em;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.outlined-content {
  border: 2px solid $outline-grey;
  border-radius: 12px;
  padding: 2em;
  margin: 2em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  border-bottom: 2px solid $outline-grey;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  margin-bottom: 1em;
}

.nav-link {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  padding: 0.5em 0;
  transition: color 0.1s;
}

.nav-link.selected {
  color: $secondary;
  font-weight: bold;
}


@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.cursor {
  animation: cursor-blink 1s  infinite;
  animation-timing-function: steps(2);
  color: $outline-grey;
}
