:root {
  --secondary: #f5a418;
  --secondary-hover: #f3b13e;
  --outline-grey: #ababab;
  --bg: #fafafa;
  --bg-dark: #111;
  --text-black: #111;
  --text-white: #fafafa;
  --normal-text-size: 1.3em;
  --small-text-size: 1.1em;
  --navbar-text-size: 1.7em;
  --h1-size: 2.2em;
  --h2-size: 1.6em;
  --h3-size: 1.4em;
  --title-spacing: 1;
  --toggle-w: 56px;
  --toggle-h: 30px;
  --toggle-thumb-l: 22px;
  --toggle-thumb-offset: 4px;
  --pub-list-w: 100%;
}

:root[data-theme="light"] {
  --bg: var(--bg);
  --text-color: var(--text-black);
}

:root[data-theme="dark"] {
  --bg: var(--bg-dark);
  --text-color: var(--text-white);
}

/* @media (prefers-color-scheme: dark) {
  :root[data-theme="dark"],
  :root:not([data-theme="light"]) {
    --bg: var(--bg-dark);
    --text-color: var(--text-white);
  }
} */

@media (max-width: 900px) {
  :root{
    --normal-text-size: 1.0em;
    --small-text-size: 1.0em;
    --navbar-text-size: 1.3em;
    --h1-size: 2em;
    --h2-size: 1.5em;
    --h3-size: 1.3em;
    --title-spacing: 1.4;
    --toggle-w: 48px;
    --toggle-h: 24px;
    --toggle-thumb-l: 18px;
    --toggle-thumb-offset: 3px;
    --pub-list-w: 70%;
  }
}

body, .container {
  font-family: 'Segoe UI', 'Arial', 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  color: var(--text-color);
}

p {
  font-size: var(--normal-text-size);
  line-height: 1.5;
}

h1 {
  font-size: var(--h1-size);
  min-height: calc(var(--title-spacing) * var(--h1-size));
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

ul {
  font-size: var(--normal-text-size);
  line-height: 1.5;
}

li {
  margin-bottom: 0.5em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-button {
  display: flex;
  padding: 4;
  cursor: pointer;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  font-size: var(--h3-size);
}

header h1 {
  margin: 0; 
  text-align: center;
  width: 100%;
  padding: 0;
}

.toggle {
  position: relative;
  display: inline-block;
  width: var(--toggle-w);
  height: var(--toggle-h);
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  transition: 0.4s;
  border-radius: var(--toggle-h);
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--toggle-thumb-l);
  width: var(--toggle-thumb-l);
  left: var(--toggle-thumb-offset);
  bottom: var(--toggle-thumb-offset);
  background-color: #FFF;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--secondary);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.navbar {
  width: 100%;
  border-bottom: 2px solid var(--outline-grey);
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  margin-bottom: 1em;
}

.nav-link {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: var(--navbar-text-size);
  padding: 0.5em 0;
  transition: color 0.1s;
}

.nav-link.selected {
  color: var(--secondary);
  font-weight: bold;
}

.nav-link:hover {
  color: var(--secondary-hover);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.cursor {
  animation-name: blinker; 
  animation-duration:  0.75s; 
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  color: var(--outline-grey);
  margin-left: 2px;
  position: relative;
  top: -2px;
}

.outlined-content {
  border: 2px solid var(--outline-grey);
  border-radius: 12px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outlined-content h3 {
  align-self: flex-start;
  margin-bottom: 0;
}

.outlined-content p {
  text-align: justify;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1.5em;
  width: 100%;
  max-width: 1100px;
}

.project-card {
  align-items: center;
  align-content: flex-start;
  flex-basis: calc(42% - 20px); 
}

.project-card:active, .project-card:hover {
  border: 2px solid var(--secondary);
}

.project-card img {
  display: block;
  margin-bottom: 0.75em;
}

.link-tag {
  display: inline-flex;
  align-items: center;
  padding: 6px 10px;
  background: #efefef;
  color: var(--text-black);
  text-decoration: none;
  border-radius: 8px;
  margin-right: 10px;
  transition: color 0.12s ease, background 0.12s ease;
}

.link-tag span {
  color: inherit;
}

.link-tag:hover span {
  color: var(--secondary);
}

.person-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
  width: 100%;
  max-width: 1100px;
}

.person-card {
  align-items: center;
  flex: 0 0 calc(26% - 20px); 
  min-height: 360px;
}

@media (max-width: 900px) {
  .project-card {
    flex-basis: calc(80%); 
  }
  .person-card {
    align-items: center;
    flex: 0 0 calc(70%); 
    min-height: 200px;
  }
}

.person-card:hover {
  border: 2px solid var(--secondary);
}

.person-card h3 {
  align-self: center;
  text-align: center;
  margin-bottom: 0;
}

.person-card p {
  font-size: var(--small-text-size);
}

.pub-list {
  max-width: --var(--pub-list-w);
  padding-left: 0.75em;
}

.pub-list, li a{
  color: #006666;
}

.pub-list, li {
  color: #006666;
}

.pub-list, li a:visited {
  color: #551A8B;
}
