// Color variables
$secondary: #f5a418;
$secondary-hover: #f3b13e;
$outline-grey: #ababab;
$bg: #fafafa;
$bg-dark: #111;

$text-black: #111;
$text-white: #fafafa;

$normal-text-size: 1.3em;
$small-text-size: 1.1em;
$navbar-text-size: 1.7em;
$h1-size: 2.2em;
$h2-size: 1.6em;
$h3-size: 1.4em;


:export {
  secondary: $secondary;
  secondary-hover: $secondary-hover;
  outlineGrey: $outline-grey;
  bg: $bg;
  textBlack: $text-black;
}

.cursor {
  animation-name: blinker; 
  animation-duration:  0.75s; 
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  color: $outline-grey;
  margin-left: 2px;
  position: relative;
  top: -2px;
}

:root {
  --bg: #{$bg};
  --text-color: #{$text-black};
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #{$bg-dark};
    --text-color: #{$text-white};
  }
}



:global {
// Global styles
body, .container {
  font-family: 'Segoe UI', 'Arial', 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text-color);
}

p {
  font-size: $normal-text-size;
  line-height: 1.5;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size
}

ul {
  font-size: $normal-text-size;
  line-height: 1.5;
}

li {
  margin-bottom: 0.5em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}


.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

// TITLE

.title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-button {
  display: flex;
  padding: 4;
  cursor: pointer;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  font-size: $h3-size;
}

header h1 {
  margin: 0; 
  text-align: center;
  width: 100%;
  padding: 0 
}


// NAVBAR

.navbar {
  width: 100%;
  border-bottom: 2px solid $outline-grey;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  margin-bottom: 1em;
}

.nav-link {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: $navbar-text-size;
  padding: 0.5em 0;
  transition: color 0.1s;
}

.nav-link.selected {
  color: $secondary;
  font-weight: bold;
}

.nav-link:hover {
  color: $secondary-hover;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}





// MAIN CONTENT

.outlined-content {
  border: 2px solid $outline-grey;
  border-radius: 12px;
  padding: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.outlined-content h3 {
  align-self: flex-start;
  margin-bottom: 0;
}
/* Paragraphs inside outlined-content (e.g. MainContent) */
.outlined-content p {
  text-align: justify;
}


// PROJECTS
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1.5em;
  width: 100%;
  max-width: 1100px;
}


.project-card {
  align-items: center;
  align-content: flex-start;
  flex-basis: calc(42% - 20px); 
}

.project-card:active, .project-card:hover {
  border: 2px solid $secondary;
}

.project-card img {
  display: block;
  margin-bottom: 0.75em;
}

.link-tag {
  display: inline-flex;
  align-items: center;
  padding: 6px 10px;
  background: #efefef;
  color: $text-black;
  text-decoration: none;
  border-radius: 8px;
  margin-right: 10px;
  transition: color 0.12s ease, background 0.12s ease;
}

.link-tag span {
  color: inherit;
}

.link-tag:hover span {
  color: $secondary;
}

// @media (max-width: 700px) {
//   .projects-grid {
//     grid-template-columns: 1fr;
//   }
// }

// TEAM
.person-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
  width: 100%;
  max-width: 1100px;
}

.person-card {
  align-items: center;
  flex: 0 0 calc(26% - 20px); 
  min-height: 360px;
}


.person-card:hover {
  border: 2px solid $secondary;
}

.person-card h3 {
  align-self: center;
  text-align: center;
  margin-bottom: 0;
}

.person-card p {
  font-size: $small-text-size;
}

// PUBLICATIONS
li a{
  color: #006666;
}

li a:visited {
  color: #551A8B;
}
}